

body{
    margin: auto;
    font-size: 100%;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 2%;
    box-shadow: 8px 8px 8px #aaa;
    background-color: whitesmoke;
    padding: 5%;
}

.photo{
    margin-top: -1%;
    width:160px;
    height:210px;
}


/* pour des ecran encore plus petit*/
@media screen and (max-width: 450px)
{
  body{
      margin: auto;
      font-size: 80%;
  }
  
  .photo{
      display: block;
      margin:auto;
      text-align: center;
      float: none;
      width:200px;
      height:250px;
  }

  h1{
      text-align: center;
  }

  .container{
      margin: 3%;
  }

}
